.green {
    color: #2ca02c;
}

.red {
    color: #c21;
}

.blue {
    color: #1B9AF7;
}
.tree-form-box{
    vertical-align: top;
    border: 1px solid #dedede;
    border-radius: 5px;
    width: 45%;
    padding: 15px 0;
    display: inline-block;
    margin-top: 15px;
    margin-right:15px ;
    line-height: 35px;
}

.tree-form-box:nth-child(2),.tree-form-box:nth-child(1){
    margin-top: 0;
}

.tree-form{
    width: auto;
    display: inline-block;
    vertical-align: top;
}
.tree-form+.tree-form{
    margin-left: 15px;
}
.tree-form-box input[type=checkbox]{
    display: none;
}

.tree-form-box span.form-tree-inputs{
    font-weight: 300;
    padding-left: 15px;
    cursor: pointer;
}

.tree-form-box .form-tree-inputs i{
    width: 30px;
    text-align: center;
    color: #c21500;
}

.tree-form-box>ul li,.tree-form>ul li{
    margin-left: 15px!important;
    display: block;
}

.tree-form-box>ul ul li{
    display: inline-block;
}

i.option{
    cursor: pointer;
}
